.call {
    @extend %vertical-align;
    font-weight: bold;
    font-size: 18px;
    line-height: 48px;
    color: #fff;
    transition: .3s color;
    @media(min-width: 991px) {
        &:hover {
            color: $accent;
        }
    }
    &__img {
        width: 32px;
        height: 32px;
        margin-right: 16px;
    }
}