.call {
    @extend %vertical-align;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 4.8rem;
    color: #fff;
    transition: .3s color;

    @media (any-hover: hover) {
        &:hover {
            color: $accent;
        }
    }

    &__img {
        width: 3.2rem;
        height: 3.2rem;
        margin-right: 1.6rem;
    }
}