.form {
    // .form__item

    &__item+&__item {
        margin-top: 1.6rem;
    }

    // .form__label

    &__label {
        display: block;
        @extend %text;
        color: #2f2f2f;
        margin-bottom: 0.4rem;
    }

    // .form__input

    &__input {
        width: 100%;
        border: 0.1rem solid #070709;
        border-radius: 0.4rem;
        padding: 1rem 1.6rem;
        @extend %roboto-14;
        line-height: 2rem;
        color: rgba(35, 35, 42, 0.5);

        &::placeholder {
            color: rgba(35, 35, 42, 0.5);
        }
    }

    // .form__btn

    &__btn {
        width: 100%;
        margin-top: 3.2rem;
    }
}