.benefits {
    color: #fff;
    margin-bottom: 192px;
    @media (max-width: 1023px) {
        margin-bottom: 127px;
    }
    @media (max-width: 679px) {
        margin-bottom: 92px;
    }
    // .benefits__title

    &__title {
        max-width: 458px;
        margin-bottom: 30px;
        @media (max-width: 1023px) {
            margin-bottom: 40px;
        }
        @media (max-width: 679px) {
            margin-bottom: 24px;
        }
    }

    // .benefits__items

    &__items {
        width: 910px;
        @extend %flex-row;
        @media (max-width: 1023px) {
            width: 100%;
            flex-wrap: wrap;
            grid-gap: 40px 45px;
        }
    }

    // .benefits__item

    &__item {
        @extend %flex-col-center;
        @media (max-width: 1023px) {
            flex-direction: row;
        }
        &:nth-child(odd) {
            .benefits__item-descr {
                max-width: 182px;
            }
        }
        &:nth-child(even) {
            .benefits__item-descr {
                max-width: 158px;
            }
        }
    }

    // .benefits__item-img

    &__item-img {
        width: 96px;
        height: 96px;
        flex-shrink: 0;
        margin-bottom: 24px;
        @media (max-width: 1023px) {
            margin-bottom: 0;
            margin-right: 24px;
        }
    }

    // .benefits__item-descr

    &__item-descr {
        @extend %robo-text;
        text-align: center;
        @media (max-width: 1023px) {
            text-align: left;
        }
        @media (max-width: 679px) {
            font-size: 16px;
            line-height: 24px;
        }
    }
}
