.benefits {
    color: #fff;
    margin-bottom: 19.2rem;

    @media (max-width: 1023px) {
        margin-bottom: 12.7rem;
    }

    @media (max-width: 679px) {
        margin-bottom: 9.2rem;
    }

    // .benefits__title

    &__title {
        max-width: 45.8rem;
        margin-bottom: 3rem;

        @media (max-width: 1023px) {
            margin-bottom: 4rem;
        }

        @media (max-width: 679px) {
            margin-bottom: 2.4rem;
        }
    }

    // .benefits__items

    &__items {
        width: 91rem;
        @extend %flex-row;

        @media (max-width: 1023px) {
            width: 100%;
            flex-wrap: wrap;
            grid-gap: 4rem 4.5rem;
        }
    }

    // .benefits__item

    &__item {
        @extend %flex-col-center;

        @media (max-width: 1023px) {
            flex-direction: row;
        }

        &:nth-child(odd) {
            .benefits__item-descr {
                max-width: 18.2rem;
            }
        }

        &:nth-child(even) {
            .benefits__item-descr {
                max-width: 15.8rem;
            }
        }
    }

    // .benefits__item-img

    &__item-img {
        width: 9.6rem;
        height: 9.6rem;
        flex-shrink: 0;
        margin-bottom: 2.4rem;

        @media (max-width: 1023px) {
            margin-bottom: 0;
            margin-right: 2.4rem;
        }
    }

    // .benefits__item-descr

    &__item-descr {
        @extend %robo-text;
        text-align: center;

        @media (max-width: 1023px) {
            text-align: left;
        }

        @media (max-width: 679px) {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }
}