.contacts {
    &__title {
        @media (max-width: 679px) {
            margin-bottom: 20.9rem;
        }
    }

    // .contacts__map

    &__map {
        position: relative;
        height: 45rem;

        @media (max-width: 1023px) {
            height: 49rem;
        }

        @media (max-width: 679px) {
            height: 37.5rem;
        }
    }

    &__info {
        position: absolute;
        z-index: 99;
        top: 3.2rem;
        left: calc((100vw - 96rem) / 2);
        width: 30.4rem;
        background-color: #fff;
        box-shadow: 0px 8px 16px rgba(19, 19, 21, 0.25);
        border-radius: 0.8rem;
        padding: 2.4rem;

        @media(max-width: 1023px) {
            left: 2rem;
        }

        @media (max-width: 679px) {
            width: 26.4rem;
            top: -15.3rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    // .contacts__info-item

    &__info-item+&__info-item {
        margin-top: 1.6rem;
    }

    // .contacts__info-title

    &__info-title {
        @extend %text;
        color: #1a1a1f;
        margin-bottom: 0.8rem;
    }

    &__info-text {
        @extend %roboto-14;
        line-height: 2rem;
    }
}