.sale {
    &__title {
        max-width: 488px;
    }

    &__cards {
        .slick-list {
            overflow: visible;
        }

        .catalog-card {
            margin-right: 24px;
        }
    }
}