.reviews {
    @media (max-width: 679px) {
        margin-bottom: 64px;
    }
    &__title {
        @media (max-width: 1023px) {
            margin-left: 25px;
        }
        @media (max-width: 679px) {
            margin-left: 28px;
        }
    }
    &__slider {
        @media (max-width: 1023px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 32px 24px;
            margin: 0 25px;
        }
        @media (max-width: 575px) {
            width: 304px;
            grid-template-columns: 1fr;
            margin-left: 30px;
            margin-right: 0;
        }
        .slick-list {
            overflow: visible;
        }
    }
    .container {
        padding: 0;
    }
}

.reviews-slider {
    // .reviews-slider__item

    &__item {
        height: fit-content;
        background-color: #ffffff;
        border-radius: 8px;
        padding: 24px 24px 16px 24px;
        margin: 0 12px;
        @media (max-width: 1023px) {
            display: none;
            margin: 0;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                display: block;
            }
        }
        &.slick-slide {
            width: 304px;
            opacity: 0.35;
            &.slick-active {
                box-shadow: 0px 8px 16px #131315;
                opacity: 1;
            }
        }
    }

    // .reviews-slider__item-head

    &__item-head {
        @extend %vertical-align;
        margin-bottom: 16px;
    }

    // .reviews-slider__item-img

    &__item-img {
        position: relative;
        flex-shrink: 0;
    }

    // .reviews-slider__social-link

    &__social-link {
        position: absolute;
        top: -8px;
        left: -8px;
    }

    // .reviews-slider__social-img

    &__social-img {
        width: 32px;
        height: 32px;
    }

    // .reviews-slider__item-info

    &__item-info {
        margin-left: 24px;
    }

    // .reviews-slider__item-name

    &__item-name {
        @extend %text;
        color: #1a1a1f;
        margin-bottom: 4px;
    }

    // .reviews-slider__item-city

    &__item-city {
        @extend %roboto-14;
        line-height: 26px;
    }

    p {
        @extend %roboto-14;
        line-height: 20px;
        margin-bottom: 24px;
    }

    // .reviews-slider__item-date

    &__item-date {
        @extend %roboto-14;
        line-height: 26px;
        color: $gray-text;
    }
}
