.promotion {
    &__cards {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 3.2rem 2.4rem;

        @media (max-width: 1023px) {
            width: 22.2rem * 3 + 2.4rem * 2;
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 767px) {
            width: 22.2rem * 2 + 2.4rem;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 679px) {
            width: 100%;
            grid-template-columns: 1fr;
        }
    }
}