.promotion {
    &__cards {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 32px 24px;
        grid-row-gap: 32px;
        @media (max-width: 1023px) {
            width: 222px * 3 + 24px * 2;
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 767px) {
            width: 222px * 2 + 24px;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 530px) {
            width: 100%;
            grid-template-columns: 1fr;
        }
    }
}