.head-foot {
    background-color: $dark-bg;
    color: #fff;
    padding: 1.9rem 0;
    // .head-foot__inner

    &__inner {
        @extend %flex-row-center;
    }

    // .head-foot__city

    &__city {
        @extend %roboto-14;
        line-height: 2rem;
        margin-left: 8.6rem;

        @media (max-width: 1023px) {
            display: none;
        }
    }

    &__city-name {
        @extend %text;
        font-weight: 700;
    }

    // .head-foot__call

    &__call {
        margin-right: 3.3rem;
        margin-left: auto;

        @media (max-width: 1023px) {
            display: none;
        }
    }

    &__btn {
        @media (max-width: 1023px) {
            margin-right: 5.2rem;
            margin-left: auto;
        }

        @media (max-width: 679px) {
            display: none;
        }
    }
}

footer.head-foot {
    padding: 0;
}