.size {
    @media (max-width: 679px) {
        display: none;
    }

    &__wrapper {
        @media (max-width: 1023px) {
            display: flex;
        }
    }

    &__content {
        @media (max-width: 1023px) {
            width: 30.9rem;
            order: 1;
            margin-left: 7.4rem;
        }
    }

    // .size__steps

    &__steps {
        @extend %flex-row;
        color: #fff;
        margin-bottom: 1.5rem;

        @media (max-width: 1023px) {
            flex-direction: column;
            margin-bottom: 3.2rem;
        }
    }

    // .size__step

    &__step {
        width: 30.4rem;

        &:nth-child(2) {
            width: 30.9rem;
        }
    }

    &__step+&__step {
        @media (max-width: 1023px) {
            margin-top: 2.4rem;
        }
    }

    // .size__step-title

    &__step-title {
        @extend %text;
        margin-bottom: 0.8rem;

        @media (max-width: 1023px) {
            margin-bottom: 1.1rem;
        }
    }

    // .size__step-text

    &__step-text {
        @extend %robo-text;
    }

    // .size__btn

    &__btn {
        display: block;
        margin-left: auto;

        @media (max-width: 1023px) {
            margin-left: 0;
        }
    }

    // .size__table

    &__table {
        margin-top: 6.4rem;

        @media (max-width: 1023px) {
            margin-top: 0;
            display: flex;
            justify-content: space-between;
            width: 16.2rem;
            min-height: 98.9rem;
            border: 0.1rem solid #ffffff;
        }
    }

    &__items {
        width: 94.5rem;
        margin: 0 auto;
        @extend %flex-row;
        margin-bottom: 1.6rem;

        @media (max-width: 1023px) {
            width: calc(100% - 98.9rem);
            padding-top: 2.1rem;
            padding-bottom: 2.9rem;
            flex-direction: column-reverse;
            align-items: center;
            margin-bottom: 0;
        }
    }

    &__item {
        @extend %text;
        line-height: 2rem;
        color: $accent;
    }

    &__table-inner {
        background-color: #fff;
        @extend %vertical-align;
        justify-content: space-around;
        margin-bottom: 2.4rem;
    }

    &__table-title {
        font-weight: 700;
        @extend %text;

        @media (max-width: 1023px) {
            display: none;
        }
    }

    &__table-body {
        position: relative;
        width: 95rem;
        @extend %flex-row-center;
        margin: 0;
        padding-top: 4rem;
        padding-bottom: 1.6rem;

        &:before {
            content: '';
            position: absolute;
            top: -2.5rem;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 4.9rem;
            background-image: url(../img/ruler.svg);

            @media (max-width: 1023px) {
                //content: '';
                top: 3rem;
                right: -2.4rem;
                left: auto;
                transform: none;
                width: 5rem;
                height: 100%;
                background-image: url(../img/vertical-ruler.svg);
            }
        }

        @media (max-width: 1023px) {
            flex-direction: column;
            align-items: flex-start;
            width: 11.1rem;
            min-height: 100%;
            padding: 2.1rem 1.6rem 3rem 2.4rem;
            background-color: #fff;
        }
    }

    &__table-item {
        @extend %roboto-14;
        line-height: 2rem;

        span {
            display: block;

            @media (max-width: 1023px) {
                display: inline;
            }
        }
    }

    // .size__ages

    &__ages {
        @extend %flex-row;

        @media (max-width: 1023px) {
            display: none;
        }
    }

    &__ages-item {
        border-top: 0.1rem dashed $accent;
        padding-top: 1.6rem;
        @extend %text;
        color: $accent;
        text-align: center;

        &:nth-child(1) {
            width: 44.5%;
        }

        &:nth-child(2) {
            width: 27%;
            border-top-style: solid;
        }

        &:nth-child(3) {
            width: 28.5%;
        }
    }
}