.promo {
    color: #fff;
    padding-top: 4.3rem;

    @media (max-width: 679px) {
        padding-top: 1.5rem;
    }

    // .promo__inner

    &__inner {
        @extend %flex-row-center;
        margin-bottom: 15.5rem;

        @media (max-width: 1023px) {
            margin-bottom: 6.3rem;
        }

        @media (max-width: 679px) {
            flex-direction: column;
        }
    }

    // .promo__content

    &__content {
        width: 43.1rem;
        flex-shrink: 0;

        @media (max-width: 1023px) {
            width: 30.4rem;
        }

        @media (max-width: 679px) {
            width: 100%;
            order: 2;
        }
    }

    // .promo__title

    &__title {
        font-size: 4rem;
        line-height: 4.8rem;
        margin-bottom: 2.4rem;

        @media (max-width: 1023px) {
            font-size: 2.6rem;
            line-height: 3.8rem;
        }

        @media (max-width: 679px) {
            margin-bottom: 1.6rem;
        }
    }

    // .promo__subtitle

    &__subtitle {
        max-width: 38.6rem;
        @extend %robo-text;
        margin-bottom: 3.2rem;
    }

    // .promo__img

    &__img {
        max-width: 100%;
        height: auto;

        @media (max-width: 679px) {
            order: 1;
        }
    }

    &__btn {
        @media (max-width: 679px) {
            width: 26.4rem;
        }
    }

    // .promo__benefits

    &__benefits {
        background-color: $dark-bg;
        padding: 2.2rem 0;

        @media (max-width: 1023px) {
            padding: 2.8rem 0;
        }
    }

    &__benefits-list {
        @extend %flex-row;

        @media (max-width: 1023px) {
            flex-wrap: wrap;
            grid-row-gap: 3.2rem;
        }

        @media (max-width: 575px) {
            grid-row-gap: 2.4rem;
        }
    }

    // .promo__item-img

    &__item-img {
        width: 4rem;
        height: 4rem;
    }

    // .promo__item

    &__item {
        @extend %vertical-align;
        color: #fff;

        @media (max-width: 1023px) {
            width: 50%;
        }

        @media (max-width: 575px) {
            width: 100%;
        }
    }

    // .promo__item-descr

    &__item-descr {
        width: 16rem;
        @extend %robo-text;
        margin-left: 1.6rem;
    }
}