@import './vars';
@import './mixins';
@import './null';

.container {
    width: $container + $gap * 2;
    max-width: 100%;
    padding: 0 $gap;
    margin: 0 auto;
    @media (max-width: 679px) {
        padding: 0 28px;
    }
}

.wrapper {
    overflow-x: hidden;
    background-color: #000;
}

.grid {
    display: grid;
}

.slick-slide {
    outline: none;
}

@import '../components/components';
@import '../custom/custom';
