// colors
$accent: #ffc700;
$text-color: #23232a;
$gray-text: rgba(35, 35, 42, 0.5);
$dark-bg: #30303a;

$container: 960px;
$gap: 25px;

%vertical-align {
    display: flex;
    align-items: center;
}

%flex-center {
    @extend %vertical-align;
    justify-content: center;
}

%flex-row {
    display: flex;
    justify-content: space-between;
}

%flex-row-center {
    @extend %flex-row;
    align-items: center;
}

%flex-col {
    display: flex;
    flex-direction: column;
}

%flex-col-center {
    @extend %flex-col;
    align-items: center;
}

%pos-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

%pos-center-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

%pos-center-xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// Typography

$roboto: 'Roboto', sans-serif;

%title-24 {
    font-size: 24px;
    line-height: 32px;
}

%text {
    font-size: 18px;
    line-height: 26px;
}

%robo-text {
    @extend %text;
    font-family: $roboto;
}

%roboto-14 {
    font-family: $roboto;
    font-size: 14px;
}

%btn {
    border-radius: 4px;
    text-align: center;
    transition: 0.4s all;
}

%btn-default {
    @extend %btn;
    width: 304px;
    font-weight: bold;
    font-size: 18px;
    line-height: 48px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

$shadow: 0px 8px 8px rgba(255, 210, 51, 0.16), 0px 8px 24px rgba(255, 217, 84, 0.4);
